# {{ ansible_managed }}

default: &default
  adapter: postgresql
  pool: 5
  user: {{ postgresql_db_user }}
  password: {{ postgresql_db_password }}

{{ rails_env }}:
  <<: *default
  database: {{ postgresql_db_name }}

test:
  <<: *default
  database: {{ postgresql_db_name }}_test
