# {{ ansible_managed }}

defaults: &defaults
  host: 127.0.0.1
  port: 27017
  options:
    w: 1
    pool_size: 1
    slave_ok: false
    ssl: false

development:
  <<: *defaults
  database: {{ mongodb_db_name }}

test:
  <<: *defaults
  database: {{ mongodb_db_name }}_test
  w: 0
