# {{ ansible_managed }}

working_directory '{{ app_path }}'

pid '{{ unicorn_pid_path }}'

stderr_path '{{ unicorn_stderr_path }}'
stdout_path '{{ unicorn_stdout_path }}'

listen '{{ unicorn_sock_path }}'

worker_processes 1

timeout 30
