# {{ ansible_managed }}

description "{{ app_name }} sidekiq app"

start on runlevel [2]
stop on runlevel [016]

env PATH=$PATH:/usr/local/bin:/usr/bin:/bin
env HOME={{ user_home_path }}

respawn

setuid {{ user_name }}
setgid {{ group_name }}

chdir {{ app_path }}

script
  /bin/bash -l -c 'bundle exec sidekiq -C config/sidekiq.yml -d -L log/sidekiq.log'
  sleep 5
end script
