user: {{ user_name }}
group: {{ group_name }}
pid: {{ app_path }}/tmp/pids/thin.pid
timeout: 30
wait: 3
log: {{ app_path }}/log/thin.log
max_conns: 1024
require: []
environment: {{ rails_env }}
max_persistent_conns: 512
servers: 1
threaded: true
no-epoll: true
daemonize: true
socket: {{ app_path }}/tmp/thin.sock
chdir: {{ app_path }}
tag: {{ app_name }}-{{ rails_env }}