development:
  APP_HOST: {{ app_host }}
  APP_PORT: {{ app_port }}
  HASOFFERS_NETWORK_ID: adstream
  HASOFFERS_API_KEY: NET4LL6TwCuhxmgOTBD1h1wmWQkXTC
  FB_APP_ID: 236694420038101
  FB_APP_SECRET: e975f7e1e0251a7505a226a92a59138b
  VK_APP_ID: 5458156
  VK_APP_SECRET: 3cctVWY1cAToT7ugY4vf
  APPBONUS_APP_ID: 4daba421-8210-4983-8d7f-3080fc227a91
  APPBONUS_SECRET: 44af021e-c38f-446e-9355-e674f3907442
  YANDEX_REDIRECT_URL: "http://{{ app_host }}:{{ app_port }}/payment/yandex/process_payment"
  YANDEX_APP_ID: 75962CA1700FC77644AB5A93B0BF21CFC8785641A80D8C1071B3BCACBB66155F
  YANDEX_WALLET_ID: 41001113806409
  YANDEX_SECRET: 09F7A01A737019D037486CD98A6536C8988CD8482246763C7A44BE4A9B52F3C5DAEB294380F2A1F135430BC71364790568843EB4652B40B180E6C68C69A25778
  # Mandrill
  MANDRILL_HOST: smtp.sparkpostmail.com
  MANDRILL_PORT: 587
  MANDRILL_USER: SMTP_Injection
  MANDRILL_PASSWORD: 44bcdbc290cd9c8c0f541ff18b6a0b19dad0f62a

production:
  APP_HOST: {{ app_host }}
  APP_PORT: {{ app_port }}
  HASOFFERS_NETWORK_ID: adstream
  HASOFFERS_API_KEY: NET4LL6TwCuhxmgOTBD1h1wmWQkXTC
  FB_APP_ID: 283010505371780
  FB_APP_SECRET: 12652d4bd6b2088fa10e20d2af612fad
  VK_APP_ID: 5458389
  VK_APP_SECRET: kHaGTP0AoUME3QTCkrwQ
  APPBONUS_APP_ID: f338af50-2ec7-472e-a4fe-db196e0b7308
  APPBONUS_SECRET: f53e9e1e-408e-4e9d-b196-1fd567f8da1d
  YANDEX_REDIRECT_URL: http://my.creativemobility.ru/payment/yandex/process_payment
  YANDEX_APP_ID: 75962CA1700FC77644AB5A93B0BF21CFC8785641A80D8C1071B3BCACBB66155F
  YANDEX_WALLET_ID: 41001113806409
  YANDEX_SECRET: 09F7A01A737019D037486CD98A6536C8988CD8482246763C7A44BE4A9B52F3C5DAEB294380F2A1F135430BC71364790568843EB4652B40B180E6C68C69A25778
  # Mandrill
  MANDRILL_HOST: smtp.sparkpostmail.com
  MANDRILL_PORT: 587
  MANDRILL_USER: SMTP_Injection
  MANDRILL_PASSWORD: 44bcdbc290cd9c8c0f541ff18b6a0b19dad0f62a