# {{ ansible_managed }}

if [ -f ~/.bashrc ]; then
  . ~/.bashrc
fi

if [ -d {{ profile_d_path }} ]; then
  for i in {{ profile_d_path }}/*.sh; do
    if [ -r $i ]; then
      . $i
    fi
  done
  unset i
fi
