development:
  secret_key_base: 64f749830e6617dbb95604ecabc2e5c81dcdb7f224d2a5e730a4a3144c8dabca95d0e37dcfccb853c2e48707e772e6bfd19d3790d4229d950e43000b90b53293
  admin:
    email: 'admin@appbooster.ru'
    password: 'corehook'

test:
  secret_key_base: 988171ee04df5306ec0e54b7fbdca6c8c9f828729655bfa78a364ed3f957963e471559afa10b881dd495d17532a18910114ae7f04f9dc0cb75fec04daa3023a2

production:
  secret_key_base: {{secret_key}}